<template>
  <v-container>
    <v-flex>
      <v-row>
        <v-col cols="auto">
          <h1>Categorias</h1>
        </v-col>
        <div class="flex-grow-1"></div>
        <v-col cols="8">
          <v-text-field solo dense append-icon="mdi-send" placeholder="Buscar"></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="4" v-for="item in this.$store.state.categories" v-bind:key="item.id">
          <v-card class="d-inline-block" width="300px" style="margin-top: 10px">
            <v-container style="padding: 0px 12px 0px 12px">
              <v-row justify="space-between" style="padding: 5px">
                <v-img height="250px" width="200px" style="border-radius: 20px" :src="item.img"></v-img>
              </v-row>
              <v-row justify="space-between" align="center" style="background-color: #81C784">
                <v-card-title justify="center" id="serviceText">{{item.category}}</v-card-title>

                <div style="background-color: white; border-radius: 100px; margin-right: 10px;">
                  <v-btn icon @click="createServices(item.category)">
                    <v-icon>mdi-send</v-icon>
                  </v-btn>
                </div>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data(){
    return{

    }
  },
  methods:{
    createServices(cat) {
      var find = this.$store.state.services.filter(
        item =>
          item.category == cat
      );
      this.$store.commit("createServicesAr", find);
      this.$router.push("/client/service");
    }
  }
};
</script>

<style>
#serviceText {
  font-weight: bold;
}
</style>