<template>
  <v-container>
    <v-flex>
      <h1>Configuración</h1>
      <v-card>
        <v-container>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-row>
                <v-avatar size="40px" class="mr-5">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt
                    style="margin-left: 15px"
                  />
                </v-avatar>
                <v-text-field
                  class="showTxtField"
                  solo
                  dense
                  :placeholder="this.$store.state.users[this.$store.state.logid].name"
                  disabled
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-comment"
                :placeholder="this.$store.state.users[this.$store.state.logid].paterno"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-comment"
                :placeholder="this.$store.state.users[this.$store.state.logid].materno"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                :placeholder="this.$store.state.users[this.$store.state.logid].mail"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                type="tel"
                prepend-icon="mdi-phone"
                :placeholder="this.$store.state.users[this.$store.state.logid].telefono"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-navigation"
                :placeholder="this.$store.state.users[this.$store.state.logid].address"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                type="password"
                prepend-icon="mdi-lock"
                placeholder="Contraseña"
                disabled
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>

        <v-card-actions>
          <v-btn text color="primary" @click="dialogRegServ = !dialogRegServ" v-if="this.$store.state.users[this.$store.state.logid].statusProv == 0">Solicitar ser proveedor</v-btn>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="dialog = !dialog">Editar</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>

    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title class="green lighten-1">Registro</v-card-title>
        <v-container>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-row>
                <v-avatar size="40px" class="mr-5">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt
                    style="margin-left: 15px"
                  />
                </v-avatar>
                <v-text-field
                  class="showTxtField"
                  solo
                  dense
                  :placeholder="this.$store.state.users[this.$store.state.logid].name"
                  :rules="nameRules"
                  :counter="15"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-comment"
                :placeholder="this.$store.state.users[this.$store.state.logid].paterno"
                :rules="lastNameRules"
                :counter="10"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-comment"
                :placeholder="this.$store.state.users[this.$store.state.logid].materno"
                :rules="lastNameRules"
                :counter="10"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                :placeholder="this.$store.state.users[this.$store.state.logid].mail"
                :rules="mailRules"
                :counter="20"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                type="tel"
                prepend-icon="mdi-phone"
                placeholder="(000) 000 - 0000"
                :rules="telRules"
                :counter="10"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-navigation"
                :placeholder="this.$store.state.users[this.$store.state.logid].address"
                :rules="direcRules"
                :counter="40"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                type="password"
                prepend-icon="mdi-lock"
                placeholder="Contraseña"
                :rules="passRules"
                :counter="10"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="warning" @click="dialog = false">Cancelar</v-btn>
          <v-btn text color="primary" @click="dialog = false">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogRegServ" width="800px">
      <v-card>
        <v-card-title class="green lighten-1">Solicitud de proveedor</v-card-title>
        <v-container>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <p>Seleccionar categoria del servicio</p>
                <v-overflow-btn
                  class="my-2"
                  :items="categorias"
                  label="Categoria"
                  segmented
                  target="#dropdown-example"
                  v-model="categoria"
                  id="categoria"
                ></v-overflow-btn>
            </v-col>
            <v-col cols="12">
              <p>Nombre del servicio</p>
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                id="name_serv"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <p>Telefono para el servicio</p>
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                id="tel_serv"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <p>Email para el servicio</p>
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                id="email_serv"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <p>Descripción del servicio (Como funciona?, para que?)</p>
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                id="descrip_serv"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <p>Disponibilidad (Ejemplo: 10:00 AM a 6:00 PM)</p>
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                id="disp_serv"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <p>Dueño del servicio</p>
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                id="prov_serv"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="warning" @click="dialog = false">Cancelar</v-btn>
          <v-btn text color="primary" @click="regService()">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  methods: {
    appendIconCallback() {},
    prependIconCallback() {},
    regService(){
      
      this.$store.state.services.push({
        id: this.$store.state.services[this.$store.state.services.length].id + 1,
        category: this.categoria,
        service: document.getElementById("name_serv").value,
        telefono: document.getElementById("tel_serv"),
        email: document.getElementById("email_serv"),
        description: document.getElementById("descrip_serv"),
        disponibilidad: document.getElementById("disp_serv"),
        description: document.getElementById("descrip_serv"),
        proveedor: document.getElementById("prov_serv"),
        
      });
    }
  },
  data: () => ({
    categorias: [
      { text: "Limpieza", callback: () => console.log("Limpieza") },
      { text: "Plomeria", callback: () => console.log("Plomeria") },
      { text: "Banquetes", callback: () => console.log("Banquetes") },
      { text: "Electricidad", callback: () => console.log("Electricidad") },
      { text: "Carpinteria", callback: () => console.log("Carpinteria") },
      { text: "Meseros", callback: () => console.log("Meseros") },
      { text: "Electronica", callback: () => console.log("Electronica") },
      { text: "Celulares", callback: () => console.log("Celulares") },
      { text: "Musica", callback: () => console.log("Musica") },
    ],
    nameRules: [
      v => !!v || "Nombre es requerido",
      v => v.length <= 15 || "El nombre debe tener menos de 15 caracteres."
    ],
    lastNameRules: [
      v => !!v || "Apellido es requerido",
      v => v.length <= 10 || "El Apellido debe tener menos de 10 caracteres."
    ],
    mailRules: [
      v => !!v || "E-mail es requerido",
      v => /.+@.+\..+/.test(v) || "El email debe ser válido"
    ],
    telRules: [
      v => !!v || "Telefono es requerido",
      v => v.length <= 10 || "El Telefono debe tener 10 caracteres."
    ],
    direcRules: [
      v => !!v || "Dirección es requerido",
      v => v.length <= 40 || "La dirección debe tener menos de 40 caracteres."
    ],
    passRules: [v => !!v || "Contraseña es requerida"],
    dialog: false,
    dialogRegServ: false
  })
};
</script>


<style>
</style>