<template>
  <v-container>
    <v-flex>
      <h1>Contactos</h1>
      <v-card
        class="d-inline-block mx-auto"
        width="100%"
        style="margin: 10px 0px 10px 0px"
        v-for="item in this.$store.state.arrCont"
        v-bind:key="item.id"
      >
        <v-container style="padding: 0px 12px 0px 12px">
          <v-row justify="center">
            <v-col cols="auto">
              <v-img
                height="100%"
                width="400px"
                style="border-radius: 50px"
                src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
              ></v-img>
            </v-col>
            <v-col class="textCard">
              <p>
                Contacto:
                <span>{{item.contacto}}</span>
              </p>
              <p>
                Telefono:
                <span>{{item.telefono}}</span>
              </p>
              <p>
                Email:
                <span>{{item.email}}</span>
              </p>
              <p>
                Paquete:
                <span>{{item.paquete}}</span>
              </p>
              <p>
                Total a pagar:
                <span>{{item.pago}}</span>
              </p>
            </v-col>
          </v-row>
          <v-row justify="space-between" align="center" style="background-color: #81C784">
            <v-card-title justify="center" id="serviceText">{{item.service}}</v-card-title>
            <div class="flex-grow-1"></div>
            <v-btn rounded style="margin-right:20px" v-on:click="deleteItem(index)">Cancelar</v-btn>
          </v-row>
        </v-container>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  methods: {
    deleteItem(indx) {
      this.$store.commit("delCont", indx);
    }
  },
  beforeMount(){
      var find = this.$store.state.contacts.filter(
        item => 
            item.idUser == this.$store.state.logid
      );

      this.$store.commit("createConArr", find);
  }
};
</script>


<style>
.textCard > p {
  font-size: 20px;
  font-weight: bold;
}
.textCard span {
  font-weight: normal;
}
#serviceText {
  font-weight: bold;
}
</style>