<template>
  <v-container>
    <v-flex>
      <h1>Proveedor</h1>
      <v-img
        style="margin-top:20px"
        height="200px"
        width="100%"
        src="https://cdn.vuetifyjs.com/images/cards/store.jpg"
      ></v-img>
      <v-card id="card">
        <v-container>
          <v-toolbar>
            <h1>{{this.$store.state.services[this.$store.state.itemID].service}}</h1>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn text to="/client/proveedor">Inicio</v-btn>
              <v-btn text color="success">Paquetes</v-btn>
              <v-btn text @click="addFav(itemId)">Añadir a favoritos</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text padding="5%">
            <v-card
              class="d-inline-block mx-auto"
              width="100%"
              style="margin-top: 30px"
              v-for="(item,index) in this.$store.state.arrPack"
              v-bind:key="index"
            >
              <v-container style="padding: 0px 12px 0px 12px">
                <v-row justify="space-between">
                  <v-col cols="auto" style="padding:0px">
                    <v-card height="100%" class="infoStyle">
                      <v-img
                        height="100%"
                        width="250"
                        style
                        src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                      ></v-img>
                    </v-card>
                  </v-col>
                  <v-col style="padding:0px">
                    <v-card height="100%" style="padding: 0px 12px 0px 12px">
                      <v-col class="infoStyle textCard">
                        <p>
                          Descripción:
                          <span>{{item.description}}</span>
                        </p>
                      </v-col>
                      <v-col class="infoStyle textCard">
                        <p>
                          Incluye:
                          <span>{{item.incluye}}</span>
                        </p>
                      </v-col>
                      <v-col class="infoStyle textCard">
                        <p>
                          Precio:
                          <span>{{item.precio}}</span>
                        </p>
                      </v-col>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row justify="space-between" align="center" style="background-color: #81C784">
                  <v-card-title justify="center" id="serviceText">Paquete: {{item.paquete}}</v-card-title>
                  <div class="flex-grow-1"></div>
                  <v-btn rounded style="margin-right:20px" @click="addCont(item.id)">Contratar</v-btn>
                </v-row>
              </v-container>
            </v-card>
          </v-card-text>
        </v-container>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  beforeMount() {
    this.itemId = this.$store.state.itemID;
  },
  data() {
    return {
      itemId: null
    };
  },
  methods: {
    addFav(id){
      var find = this.$store.state.services.filter(
        item =>
          item.id == this.$store.state.itemID
      );
      if (find.length == 1) {
        this.$store.commit("toFav", find[0].id);
      }
    },
    addCont(id){
      if(this.$store.state.islogued == false){
        alert("Para contratar debes iniciar sesión");
      }else{
        var con = this.$store.state.proveedorPackages.filter(
          item =>
            item.idServ == this.$store.state.itemID &&
            item.id == id
        );
        if (con.length == 1) {
          this.$store.commit("toCont", con[0]);
          alert("El paquete ha sido contratado");
        }
      }
    }
  }
};
</script>

<style>
#title {
  margin-top: 2%;
  margin-bottom: 2%;
}
#text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.infoStyle p {
  margin-left: 10px;
}
.textCard > p {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.textCard span {
  font-weight: normal;
}
#serviceText {
  font-weight: bold;
}
</style>