<template>
  <v-container>
    <v-flex>
      <h1>Proveedor</h1>
      <v-img
        style="margin-top:20px"
        height="200px"
        width="100%"
        src="https://cdn.vuetifyjs.com/images/cards/store.jpg"
      ></v-img>
      <v-card id="card">
        <v-container>
          <v-toolbar>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn text to="/client/proveedor" color="success">Inicio</v-btn>
              <v-btn text @click="createServices(itemId)">Paquetes</v-btn>
              <v-btn text @click="addFav(itemId)">Añadir a favoritos</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text padding="5%" id="text">
            <v-flex class="justify-space-between">
              <v-row>
                <v-col cols="6">
                  <h1 id="title">Servicio:</h1>
                  <p>{{this.$store.state.services[this.$store.state.itemID].service}}</p>
                </v-col>
                <v-col cols="6">
                  <h1 id="title">Proveedor</h1>
                  <p>{{this.$store.state.services[this.$store.state.itemID].proveedor}}</p>
                </v-col>
              </v-row>
              <h1 id="title">Descripción</h1>
              <P>{{this.$store.state.services[this.$store.state.itemID].description}}</P>
              <v-row>
                <v-col cols="6">
                  <h1 id="title">Categoria</h1>
                  <p>{{this.$store.state.services[this.$store.state.itemID].category}}</p>
                </v-col>
                <v-col cols="6">
                  <h1 id="title">Disponibilidad</h1>
                  <p>{{this.$store.state.services[this.$store.state.itemID].disponibilidad}}</p>
                </v-col>
              </v-row>
            </v-flex>
          </v-card-text>
        </v-container>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  beforeMount() {
    this.itemId = this.$store.state.itemID;
  },
  computed: {},
  data() {
    return {
      itemId: null
    };
  },
  methods: {
    createServices(id) {
      var find = this.$store.state.proveedorPackages.filter(
        item => item.idServ == id
      );

      this.$store.commit("createPackAr", find);
      this.$router.push("/client/proveedor/packages");
    },
    addFav(id){
      var find = this.$store.state.services.filter(
        item =>
          item.id == this.$store.state.itemID
      );
      if (find.length == 1) {
        this.$store.commit("toFav", find[0].id);
      }
    }
  },
};
</script>

<style>
#title {
  margin-top: 2%;
  margin-bottom: 2%;
}
#text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
</style>