<template>
  <v-container>
    <v-flex>
      <h1>Servicios</h1>
      <ul>
        <v-card
          class="d-inline-block mx-auto"
          width="100%"
          style="margin-top: 30px"
          v-for="item in this.$store.state.arrService"
          v-bind:key="item.id"
        >
          <v-container style="padding: 0px 12px 0px 12px">
            <v-row justify="space-between">
              <v-col cols="auto" style="padding:0px">
                <v-card height="100%" class="infoStyle">
                  <v-img
                    height="100%"
                    width="250"
                    style
                    src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
                  ></v-img>
                </v-card>
              </v-col>
              <v-col style="padding:0px">
                <v-card height="100%" class="infoStyle textCard" style="padding: 0px 12px 0px 12px">
                  <p>
                    Descripción:
                    <span>{{item.description}}</span>
                  </p>
                  <p>
                    Disponibilidad:
                    <span>{{item.disponibilidad}}</span>
                  </p>
                  <p>
                    Proveedor:
                    <span>{{item.proveedor}}</span>
                  </p>
                </v-card>
              </v-col>
            </v-row>
            <v-row justify="space-between" align="center" style="background-color: #81C784">
              <v-card-title justify="center" id="serviceText">{{item.service}}</v-card-title>
              <div class="flex-grow-1"></div>
              <div style="background-color: white; border-radius: 100px; margin-right: 15px;">
                <v-btn icon large v-on:click="sendID(item.id)">
                  <v-icon>mdi-send</v-icon>
                </v-btn>
              </div>
            </v-row>
          </v-container>
        </v-card>
      </ul>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {},
  methods: {
    sendID(id) {
      this.$store.commit("resId", id);
      this.$router.push("/client/proveedor");
    }
    
  }
};
</script>

<style>
.infoStyle p {
  margin-left: 10px;
}
.textCard > p {
  font-size: 20px;
  font-weight: bold;
}
.textCard span {
  font-weight: normal;
}
#serviceText {
  font-weight: bold;
}
</style>