<template>
  <v-container>
    <v-flex>
      <h1>Acerca de</h1>
      <v-img
        style="margin-top:20px"
        height="200px"
        width="100%"
        src="https://cdn.vuetifyjs.com/images/cards/store.jpg"
      ></v-img>
      <v-card id="card">
        <v-container>
          <v-card-text padding="5%">
            <v-row>
              <div class="flex-grow-1"></div>
              <v-btn text color="primary">Agregar Paquete</v-btn>
            </v-row>
            <v-card
              class="d-inline-block mx-auto"
              width="100%"
              style="margin-top: 30px"
              v-for="item in this.$store.state.proveedorPackages"
              v-bind:key="item.id"
            >
              <v-container style="padding: 0px 12px 0px 12px">
                <v-row justify="space-between">
                  <v-col style="padding:0px">
                    <v-card height="100%" style="padding: 0px 12px 0px 12px">
                      <v-col class="infoStyle textCard">
                        <p>
                          Descripción:
                          <span>{{item.description}}</span>
                        </p>
                      </v-col>
                      <v-col class="infoStyle textCard">
                        <p>
                          Incluye:
                          <span>{{item.incluye}}</span>
                        </p>
                      </v-col>
                      <v-col class="infoStyle textCard">
                        <p>
                          Precio:
                          <span>{{item.precio}}</span>
                        </p>
                      </v-col>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row justify="space-between" align="center" style="background-color: #81C784">
                  <v-card-title justify="center" id="serviceText">Paquete: {{item.paquete}}</v-card-title>
                  <div class="flex-grow-1"></div>
                  <v-btn rounded style="margin-right:20px">Editar</v-btn>
                </v-row>
              </v-container>
            </v-card>
          </v-card-text>
        </v-container>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
export default {};
</script>

<style>
#title {
  margin-top: 2%;
  margin-bottom: 2%;
}
#text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
</style>