<template>
  <HelloWorld/>
</template>

<script>
import HelloWorld from '../components/HelloWorld';
import Inicio from '../components/Inicio';
export default {
  components: {
    HelloWorld,
    Inicio
  },
};
</script>
