<template>
    <v-container class="tamanioCard">
        <v-flex>
            <h1>Inicio</h1>
            <v-container>
                <v-row>
                    <v-carousel height="300px" absolute cycle>
                    <div style="auto">
                        <v-carousel-item width="auto"
                            v-for="(item,i) in this.$store.state.carrouselImgs"
                            :key="i"
                            :src="item.src"
                            reverse-transition="fade-transition"
                            transition="fade-transition"
                        >
                        </v-carousel-item>
                    </div>
                    
                </v-carousel>
                </v-row>
            </v-container>
            <div>
                
            </div>
            
            <h2>Acerca de AllService.com</h2>
            <h3>¿Que es AllSevice.com?</h3>
            <p class="descrip">
                AllService.com es una pagina web dedicada a ofrecer a los usuarios un medio que facilite la comunicación entre
                el usuario y el proveedor de un servicio que encuentre de su preferencia en el momento indicado y sin necesidad
                de asistir a un establecimiento y contratar el servicio directamente en un establecimiento.
            </p>
            <p class="descrip">
                Imagina esta situación, hay una enorme fuga en la cocina de tu casa, hay una cantidad de agua abundante, por x razon 
                no puedes salir de tu casa a buscar un plomero, sin embargo recordaste que al estar navegando por internet encontraste 
                una pagina de proveedores de servicio, entras directamente a la pagina, buscas el servicio de plomeria de tu preferencia 
                y con tan solo un click, habras contratado a tu plomero.
            </p>
            <h3>¿Por que surge AllService.com?</h3>
            <p class="descrip">
                AllService surge de la problematica de encontrar diversos proveedores de servicios, si bien actualmente existen bastantes 
                emprezas o negocios que se enfocan a trabajar en un area especifica, muchas de las veces estos no tienen la capacidad de llegar 
                a todo el publico, con esto tendran una mayor publicidad, de tal forma que los mismos usuarios que no cuenten con información acerca 
                de trabajo o servicio que necesite tendra la ventaja de contrarlo sin salir de casa.
            </p>
            <h3>¿Que tan confiables somos?</h3>
            <p class="descrip">
                Es una pregunta muy recurrente, pero lo importante es que buscamos la confianza de los usuarios, por lo cual 
                buscamos investigar todos los servicios que son registrados en nuestra pagina para evitar que el usuario tenga una
                mala experiencia en nuestra plataforma.
            </p>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    
}
</script>

<style>
.tamanioCard h1{
    padding: 0px 20px 20px 20px;
}
.tamanioCard h2{
    padding: 20px;
}
.descrip{
    font-size: 20px;
}
</style>