<template>
</template>

<script>
export default {
    data(){
         return{
        person: [
            {
                regName:'',
                regPaterno:'',
                regMaterno:'',
                regCorreo:'',
                regAddress:'',
                regPassword:'',
                passConf:''
            }
        ]
    }
}, methods:{
    save(){
        this.$store.commit('register', this.person);
        alert(this.$store.state.users[this.$store.state.users.lenght-1])
        }
    }
}
</script>
<style>

</style>