<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <!-- Items Cliente -->
        <v-list-item to="/" @click.stop="drawer = !drawer">
          <v-list-item-action>
            <v-icon x-large>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/client/categories" @click.stop="drawer = !drawer" v-if="switch1 == false">
          <v-list-item-action>
            <v-icon x-large>mdi-cart-arrow-right</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Categorias</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          to="/client/favorites"
          @click.stop="drawer = !drawer"
          v-if="this.$store.state.islogued && switch1 == false"
        >
          <v-list-item-action>
            <v-icon x-large>mdi-heart</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Favoritos</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          to="/client/contacts"
          @click.stop="drawer = !drawer"
          v-if="this.$store.state.islogued && switch1 == false"
        >
          <v-list-item-action>
            <v-icon x-large>mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contactos</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          to="/client/config"
          @click.stop="drawer = !drawer"
          v-if="this.$store.state.islogued && switch1 == false"
        >
          <v-list-item-action>
            <v-icon x-large>mdi-settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Configuración</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <!-- Items de Proveedor -->
        <v-list-item to="/proveedor/about" @click.stop="drawer = !drawer" v-if="switch1 == true">
          <v-list-item-action>
            <v-icon x-large>mdi-heart</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Acerca de</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/proveedor/packages" @click.stop="drawer = !drawer" v-if="switch1 == true">
          <v-list-item-action>
            <v-icon x-large>mdi-cart-arrow-right</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Paquetes</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/client/conf" @click.stop="drawer = !drawer" v-if="switch1 == true">
          <v-list-item-action>
            <v-icon x-large>mdi-settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Configuración</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-if="this.$store.state.islogued">
          <v-list-item-content>
            <v-switch
              style="padding-left: 10px;"
              v-model="switch1"
              color="success"
              hide-details
              :label="`Modo Proveedor: ${switch1.toString()}`"
            ></v-switch>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="green lighten-2">
      <v-toolbar-title style="width: 400px" class="ml-0 pl-4">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down" id="pageName">AllService.com</span>
      </v-toolbar-title>

      <div class="flex-grow-1"></div>
      <v-btn
        rounded
        style="margin-right:20px"
        v-if="this.$store.state.islogued"
        v-on:click="logoutHandler()"
      >Cerrar sesión</v-btn>
      <v-btn rounded style="margin-right:20px" @click="dialogLog = !dialogLog" v-else>Iniciar sesión</v-btn>
      <v-btn
        rounded
        style="margin-right:20px"
        @click="dialogReg = !dialogReg"
        v-if="!this.$store.state.islogued"
      >Registrate</v-btn>
    </v-app-bar>

    <v-content>
      <v-container fill-height fluid>
        <v-row style="height: 100%" align="center" justify="center">
          <v-col class="text-justify estCard">
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer color="green lighten-1" app>
      <span class="white--text">Holi!!</span>
    </v-footer>
    <v-dialog v-model="dialogLog" width="800px">
      <v-card>
        <v-container>
          <v-card-title class="green lighten-1">Iniciar sesión</v-card-title>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-text-field
                solo
                dense
                prepend-icon="mdi-mail"
                placeholder="Correo electronico"
                id="emaillog"
                :rules="mailRules"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                solo
                dense
                type="password"
                prepend-icon="mdi-lock"
                placeholder="Contraseña"
                id="passlog"
                :rules="passRules"
              ></v-text-field>
            </v-col>

            <v-col>
              <div class="flex-grow-1"></div>
              <v-btn text color="primary" right>Haz olvidado tu contraseña?</v-btn>
            </v-col>

            <v-col cols="12" align="right" justify="right">
              <v-btn x-large color="success" dark rounded v-on:click="loginHandler()">Login</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogReg" width="800px">
      <v-card>
        <v-container>
          <v-card-title class="green lighten-1">Registro</v-card-title>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-row>
                <v-avatar size="40px" class="mr-5">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt
                    style="margin-left: 15px"
                  />
                </v-avatar>
                <v-text-field
                  solo
                  dense
                  :rules="nameRules"
                  :counter="15"
                  placeholder="Nombre"
                  id="name_user"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                prepend-icon="mdi-comment"
                :rules="lastNameRules"
                :counter="10"
                placeholder="Paterno"
                id="patern_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                :rules="lastNameRules"
                :counter="10"
                prepend-icon="mdi-comment"
                placeholder="Materno"
                id="matern_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                :rules="mailRules"
                :counter="20"
                prepend-icon="mdi-mail"
                placeholder="Correo"
                id="mail_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                type="tel"
                :rules="telRules"
                :counter="10"
                prepend-icon="mdi-phone"
                placeholder="(000) 000 - 0000"
                id="tel_user"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                solo
                dense
                prepend-icon="mdi-navigation"
                placeholder="Dirección"
                :rules="telRules"
                :counter="10"
                id="dir_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                type="password"
                :rules="passRules"
                :counter="10"
                prepend-icon="mdi-lock"
                placeholder="Contraseña"
                id="pass_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                type="password"
                :rules="passRules"
                :counter="10"
                prepend-icon="mdi-lock"
                placeholder="Confirmar contraseña"
                id="confirm_pass"
              ></v-text-field>
            </v-col>
            <v-col cols="12" align="center" justify="center">
              <v-btn x-large color="success" dark rounded v-on:click="insertUser()">Registrarse</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
//import HelloWorld from "./components/HelloWorld";
import Inicio from "./components/Inicio";

export default {
  name: "App",
  components: {
    Inicio
  },
  methods: {
    loginHandler() {
      var find = this.$store.state.users.filter(
        item =>
          item.mail == document.getElementById("emaillog").value &&
          item.pass == document.getElementById("passlog").value
      );
      if (find.length == 1) {
        this.$store.commit("login", find[0].id);
        this.dialogLog = !this.dialogLog;
        
      }
    },
    logoutHandler() {
      this.$store.commit("login");
      this.$router.push("/");
    }
  },
  data: () => ({
    drawer: false,
    switch1: false,
    model: true,
    dialogLog: false,
    dialogReg: false,
    mailRules: [
      v => !!v || "Este campo es obligatorio",
      v => /.+@.+\..+/.test(v) || "Introduzca un correo válido"
    ],
    passRules: [v => !!v || "Por favor introduzca su contraseña"],
    telRules: [
      v => !!v || "Telefono es requerido",
      v => v.length <= 10 || "El Telefono debe tener 10 caracteres."
    ],
    direcRules: [
      v => !!v || "Dirección es requerido",
      v => v.length <= 40 || "La dirección debe tener menos de 40 caracteres."
    ],
    nameRules: [
      v => !!v || "Nombre es requerido",
      v => v.length <= 15 || "El nombre debe tener menos de 15 caracteres."
    ],
    lastNameRules: [
      v => !!v || "Apellido es requerido",
      v => v.length <= 10 || "El Apellido debe tener menos de 10 caracteres."
    ]
  })
};
</script>

<style>
.btnUsuario {
  align-self: auto;
}
.estCard {
  padding: 0% 15% 0% 15%;
  height: 100%;
}
.tamanioCard {
  height: 100%;
}
#pageName {
  font-weight: bold;
  font-size: 30px;
}
</style>